body {
text-align: center;
font-family: 'Century Gothic','Futura', serif;
}

a {
color: #69CBBB;
text-decoration: none;
}

h1 {
  padding: 20px 0px 10px 0px;
  display: inline;
}



.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* div{
  width: 300px;
  /* border: 15px solid blue; */
  padding: 25px; */
  margin: 25px;
} */

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 20px;
}

#grad {
  background-image: linear-gradient(white, gray);
}
