
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'century-gothic', sans-serif;
  font-size: 10px;
}

body{
   width: 100%;
   height: 100vh;
   background-color: #eee;
   display: flex;
}

.container{
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5rem;
}

.image-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
      'img-1 img-4 img-4 img-2'
      'img-1 img-5 img-5 img-2'
      'img-7 img-7 img-6 img-3'
      'img-12 img-8 img-6 img-9'
      'img-10 img-8 img-11 img-9';
}

.image-gallery a{
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i{
  color: rgba(255,255,255, .6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255,255,255, .6);
  border-radius: .4rem;
  /* opacity: 0; */
  transition: opacity .5s;
}

.image-gallery a::before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .3);
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before{
  opacity: 1;
}

.img-1{
  grid-area: img-1;
  min-height: 51.5rem;
  background-image: url("images/Giyuu.png");
}

.img-2{
  grid-area: img-2;
  min-height: 51.5rem;
  background-image: url("images/rengokubg2.png");
}

.img-3{
  grid-area: img-3;
  background-image: url("images/Dao_Vanna_Art3_Project1.jpg");
}

.img-4{
  grid-area: img-4;
  background-image: url("images/BlackHamburger.jpg");
}

.img-5{
  grid-area: img-5;
  background-image: url("images/Food1.png");
}

.img-6{
  grid-area: img-6;
  min-height: 51.5rem;
  background-image: url("images/Food2.png");
}

.img-7{
  grid-area: img-7;
  background-image: url("images/Food3.png");
}

.img-8{
  grid-area: img-8;
  min-height: 51.5rem;
  background-image: url("images/fYumeko.png");
}

.img-9{
  grid-area: img-9;
  min-height: 51.5rem;
  background-image: url("images/Yohane.png");
}

.img-10{
  grid-area: img-10;
  background-image: url("images/jellyfish.png");
}

.img-11{
  grid-area: img-11;
  background-image: url("images/illustrator1.png");
}

.img-12{
  grid-area: img-12;
  background-image: url("images/dsaihara.png");
}

@media screen and (max-width: 900px){
  .image-gallery{
    grid-template-areas:
    'img-1 img-1 img-4 img-4'
    'img-1 img-1 img-7 img-7'
    'img-5 img-5 img-2 img-2'
    'img-3 img-3 img-2 img-2'
    'img-12 img-12 img-9 img-9'
    'img-10 img-10 img-9 img-9'
    'img-8 img-8 img-11 img-11'
    'img-8 img-8 img-6 img-6';
  }

  .image-gallery a {
    height: 20rem;
  }

  .img-1{
    min-height: 41.5rem;
  }

  .img-2{
    min-height: 41.5rem;
  }

  .img-9{
    min-height: 41.5rem;
  }

  .img-8{
    min-height: 41.5rem;
  }

  .img-6{
    min-height: 20rem;
  }
}

@media screen and (max-width: 600px){
  .image-gallery{
    grid-template-areas:
    'img-1 img-1 img-1 img-1'
    'img-4 img-4 img-4 img-4'
    'img-3 img-3 img-3 img-3'
    'img-5 img-5 img-5 img-5'
    'img-2 img-2 img-2 img-2'
    'img-7 img-7 img-7 img-7'
    'img-12 img-12 img-12 img-12'
    'img-10 img-10 img-10 img-10'
    'img-9 img-9 img-9 img-9'
    'img-8 img-8 img-8 img-8'
    'img-6 img-6 img-6 img-6'
    'img-11 img-11 img-11 img-11';
  }

  .image-gallery a,
  .img-1,
  .img-5,
  .img-2,
  .img-9,
  .img-8,
  .img-6{
    min-height: 30rem;
    height: 30rem;

  }
}

#modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.modal.open{
  opacity: 1;
  pointer-events: all;
}

.full-img{
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}

.full-img.open{
  transform: translate(-50%, -50%) scale(1);
}

#modal p {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}
